
/* body{
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
} */

 
html {
    scroll-behavior: smooth;
}

.bg__navbar{
    background-color: #fff;
}

fs-100, h1{
    font-size: 100px;
    color: white;
}


.rounded__home{
    background-color: white;
}

.container__home{
    border: none;
}


.bg__home{
    background-color: black;
    height: 400px;
}


.bg__card-body{
    background-color: black;
}

.color__card-title,
.color__card-text{
    color: white;
}

.bg__footer{
    background-color: black;
}

.contato__icon{
    font-size: 50px;
    color: white;
}

.contato__icon:hover{
    color: rgb(104, 99, 99);
}



@media only screen and (max-width:780px)
{
    .bg__home{
        height: 220px;
    }

    fs-100, h1{
        font-size: 50px;
        color: white;
    }

    .rounded__home{
        width: 40px;
    }
}